<h2>Sign In</h2>
<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Email:</label>
    <input type="email" formControlName="email">
    <div *ngIf="signinForm.get('email')?.invalid && signinForm.get('email')?.touched">
      <div *ngIf="signinForm.get('email')?.errors?.['required']">Email is required.</div>
      <div *ngIf="signinForm.get('email')?.errors?.['email']">Invalid email format.</div>
    </div>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" formControlName="password">
    <div *ngIf="signinForm.get('password')?.invalid && signinForm.get('password')?.touched">
      <div *ngIf="signinForm.get('password')?.errors?.['required']">Password is required.</div>
    </div>
  </div>
  <button type="submit" [disabled]="!signinForm.valid">Sign In</button>
</form>

<p>Don't have an account? <a routerLink="/signup">Sign Up</a></p>